<div class="container">
	<div class="row">
		<div class="col m8">
			<h1>Login</h1>
			<% if params[:action] == 'new' %>
				<div class="form-group">
  			<%= link_to "/auth/facebook", class:"btn btn-block btn-f" do %><i class="fa fa-facebook-official"></i>&nbsp&nbsp Connect with Facebook<% end %>
				</div>
			<% end %>
				<% if params[:action] == "edit" %>
  					<%= link_to "Delete User", user_path(current_user), method: :delete, class: "btn btn-block btn-danger btn-delete-user" %>
			<% end %>
			<%= form_for :user, url: "/sessions", method: :post do |f| %>
				<div class="input-group">
					<%= f.label :email %>
					<%= f.text_field :email, placeholder: "example@email.com" %>
				</div>
				<div class="input-group">
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>
				<div class="input-group">
					<%= f.submit "Login" %>
				</div>
			<% end %>			
		</div>
	</div>
</div>
