<%= render 'loginpage' %>
<div class="center-align">
		<div class="col m8" id="login">
			<h1>Login</h1>
			<br><br>
			<%= form_for :user, url: "/sessions", method: :post do |f| %>
				<div class="input-group">
					<%= f.label :email %>
					<%= f.text_field :email, placeholder: "example@email.com" %>
				</div>
				<div class="input-group">
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>
				<div class="input-group">
					<%= f.submit "Submit" %>
				</div>
			<% end %>			
		</div>
	</div>
