<%= form_for @toy do |f| %>
<div class="input-field">
	<%= f.text_field :name, autofocus: true  %>
	<%= f.label :name %>
</div>
<div class="input-field">
	<%= f.text_field :description %>
	<%= f.label :description, "Description of the toy" %>
</div>
<div class="input-field">
	<%= f.label :gender %>
	<br><br>
	<%= f.radio_button :gender, "Both", value: "both", checked: true %>
	<%= f.label :gender_both, "Both" %>
	<%= f.radio_button :gender, "Boys", value: "boys" %>
	<%= f.label :gender_boys, "Boys" %>
	<%= f.radio_button :gender, "Girls", value: "girls" %>
	<%= f.label :gender_girls, "Girls" %>
</div>
<div class="input-field">
	<%= f.label :age_range %>
	<br><br>
	<%= f.select :age_range, [ "0 to 1 year", "1 to 3 years", "3 to 5 years", "5 to 7 years", "7 to 9 years", "9 to 12 years", "12 years and up" ] %>
</div>
<div class="hidden-fields">
	<%= f.hidden_field :user_id %> <!-- Add after current_user method exists , value: current_user.id -->
	<%= f.hidden_field :city_id %> <!-- Add after current_user method exists , value: current_user.city_id -->
</div>
<!-- Add multiple image upload -->
<div class="input-field">
	<%= f.label :images, "Upload picutres of your toy" %>
	<br><br>
	<%= f.file_field :images %>
</div>
<div class="input-field">
	<%= f.submit "Submit" %>
</div>
<% end %>