<div class="container">
	<div class="row">
		<div class="col m12">
			<h1>Toys looking for a new home</h1>
		</div>
	</div>
	<div class="row">
		<div class="col m2">
			<div class="search-toys">
				<p>Filter toys by</p>
				<%= form_tag '', method: :get do %>
					<div class="input-group">
							<%= select_tag :age_range, options_for_select([ "0 to 1 year", "1 to 3 years", "3 to 5 years", "5 to 7 years", "7 to 9 years", "9 to 12 years", "12 years and up" ]), prompt: "Age Range" %>
					</div>
					<div class="input-group">
						<%= select_tag :gender, options_for_select([ "Both", "Male", "Female" ]), prompt: "Gender" %>
					</div>
					<div class="input-group">
						<%= select_tag :name, options_for_select(@cities.collect { |city| city.name }), prompt: "City" %>
					</div>
					<div class="input-group">
						<%= submit_tag "Submit" %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col m10">
			<hr>
			<% @toys.each do |toy| %>
				<div class="row">
					<div class="col m4 toy-image">
						<%= image_tag toy.image.url(:medium) %>
					</div>
					<div class="col m7 offset-m1 toy-details">
						<h4 class="toy-city"><%= link_to "#{toy.name}", toy_path(toy) %></h4>
						<p class="toy-desc"><%= toy.description %></p>
						<p class="toy-age"><%= toy.age_range %></p>
						<p class="toy-gender"><%= toy.gender %></p>
						<p class="toy-city"><%= toy.city.name %></p>
						<br>
						<% if current_user.id == toy.user_id %>
							<%= link_to "Edit Toy", edit_toy_path(toy) %>
							<%= link_to "Remove Toy", toy_path(toy), method: :delete %>
						<% end %>
					</div>
				</div>
				<hr>
			<% end %>
		</div>
	</div>
</div>
