<div class="container">
	<div class="row">
		<div class="col m12">
			<h1>Toys looking for a new home</h1>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m2">
			<div class="search-toys">
				<p>Filter toys by:</p>
				<%= form_tag '', method: :get do %>
					<div class="input-group">
						<%= label_tag :age_range %>
						<%= select_tag :age_range, options_for_select([ "0 to 1 year", "1 to 3 years", "3 to 5 years", "5 to 7 years", "7 to 9 years", "9 to 12 years", "12 years and up" ]), prompt: "Age Range" %>
					</div>
					<div class="input-group">
						<%= label_tag :gender %>
						<%= select_tag :gender, options_for_select([ "Both", "Male", "Female" ]) %>
					</div>
					<div class="input-group">
						<%= label_tag :name, "City" %>
						<%= select_tag :name, options_for_select(@cities.uniq.pluck(:name)), prompt: "City" %>
					</div>
					<div class="input-group">
						<%= submit_tag "Filter", name: nil, class: "btn waves-effect waves-light toys-button" %>
					</div>
				<% end %>
				<div class="clear-search">
					<%= link_to "Reset", toys_path, class: "btn waves-effect waves-light toys-button" %>
				</div>
			</div>
		</div>
		<div class="col s12 m10">
		<% (@toys).in_groups_of(3, false).each do |group| %>
				<div class="row">
					<% group.each do |toy| %>
						<div class="col s12 m4">
							<div class="card z-depth-2">
								<div class="card-image">
									<%= image_tag toy.image.url(:large), class: "toys-image responsive-img" %>
								</div>
								<div class="card-content">
									<p class="toy-city"><%= link_to "#{toy.name}", toy_path(toy) %></p>
									<p class="toy-desc"><%= toy.description %></p>
								</div>
								<div class="card-action">
									<%= link_to "See toy details", toy_path(toy) %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
		<% end %>
	</div>
</div>
