<div class="container">
	<div class="row">
		<div class="col m12 center">
			<h1>Toys looking for a new home</h1>
			<%= link_to "Add a toy", new_toy_path, class: "btn waves-effect waves-light filter-button" %>
		</div>
	</div>
	<div class="row">
		<div class="col s7 offset-s3 m2">
			<div>
				<p>Filter toys by:</p>
				<%= form_tag '', method: :get do %>
					<div class="input-group">
						<%= label_tag :age_range %>
						<% if params[:age_range].blank? %>
						<%= select_tag :age_range, options_for_select([ "0 to 1 year", "1 to 3 years", "3 to 5 years", "5 to 7 years", "7 to 9 years", "9 to 12 years", "12 years and up" ]), prompt: "Age Range" %>
						<% else %>
						<%= select_tag :age_range, options_for_select([ ["All Ages", nil], "0 to 1 year", "1 to 3 years", "3 to 5 years", "5 to 7 years", "7 to 9 years", "9 to 12 years", "12 years and up" ], id: "list-item"), value: "#{params[:age_range]}" %>
						<% end %>
					</div>
					<div class="input-group">
						<%= label_tag :gender %>
						<% if params[:gender].blank? %>
							<%= select_tag :gender, options_for_select([ "Male", "Female" ]), prompt: "Both" %>
						<% else %>
							<%= select_tag :gender, options_for_select([ ["Both", nil], "Male", "Female" ]), value: "#{params[:gender]}" %>
						<% end %>
					</div>
					<div class="input-group">
						<%= label_tag :name, "City" %>
						<% if params[:name].blank? %>
							<%= select_tag :name, options_for_select(City.uniq.pluck(:name)), prompt: "City" %>
						<% else %>
							<%= select_tag :name, options_for_select(City.uniq.pluck(:name)), value: "#{params[:name]}", include_blank:"All Cities" %>
						<% end %>
					</div>
					<div class="input-group">
						<%= submit_tag "Filter", name: nil, class: "btn waves-effect waves-light filter-button" %>
					</div>
				<% end %>
				<div>
					<%= link_to "Reset", toys_path, class: "btn waves-effect waves-light filter-button" %>
				</div>
			</div>
		</div>
		<div class="col s12 m10">
		<% if @toys.any? %>
			<% (@toys).in_groups_of(3, false).each do |group| %>
					<div class="row">
						<% group.each do |toy| %>
							<%= link_to(toy_path(toy)) do %>
							<div class="col s7 offset-s3 m4">
								<div class="z-depth-2 blank-card">
									<div class="card-background" style="background-image: url(<%= toy.image.url(:large) %>)">
									</div>
									<div class="center">
										<p><%= toy.name %></p>
									</div>
								</div>
							</div>
							<% end %>
						<% end %>
					</div>
			<% end %>
		<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @toys %>
    </div>
    <%= will_paginate @toys, :container => false, class: "waves-effect waves-light btn" %>
  </div>
		<% else %>
			<h2>Sorry, there are no toys matching your search filter(s).</h2>
		<% end %>
	</div>
</div>
</div>