<div class="container">
	<div class="row">
		<div class="col m12">
			<div class="toy-images">
				<p>Image carousel here in a large div </p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="toy-info">
			<h2 class="toy-name center"><%= @toy.name %></h2>
			<p class="toy-desc"><%= @toy.description %></p>
			<p class="toy-age"><%= @toy.age_range %></p>
			<p class="toy-gender"><%= @toy.gender %></p>
			<p class="toy-city"><%= @toy.city.name %></p>
			<button class="toy-contact">Send <%= @toy.user.f_name %> a message</button>
		</div>	
	</div>
</div>
