<div class="toy-container container">
	<div class="row">
		<div class="right-align">
			<%= link_to "Back to all toys", toys_path, class: "btn waves-effect waves-light" %>
		</div>
		<div class="toy-title">
			<h2 class="toy-name center col m12"><%= @toy.name %></h2>
		</div>
		<div class="row">
			<div class="col m4 toy-image responsive-img">
				<%= image_tag @toy.image.url(:medium) %>
			</div>
			<div class="toy-details">
				<p class="toy-desc"><strong>Description:</strong> <%= @toy.description %></p>
				<p class="toy-age"><strong>Reccommended age range:</strong> <%= @toy.age_range %></p>
				<p class="toy-gender"><%= @toy.gender %></p>
				<p class="toy-city"><strong>Location:</strong> <%= @toy.city.name %></p>
			</div>
			<div class="toy-owner">
				<% if current_user %>
					<% if current_user.id == @toy.user_id %>
						<%= link_to "Edit Toy", edit_toy_path(@toy) %>
						<%= link_to "Remove Toy", toy_path(@toy), method: :delete %>
					<% else %>
						<%= link_to "Send #{current_user.f_name} a private message", "#modal1" %>
					<% end %>
				<% else %>
						<%= link_to "Please login to send a message to the toy owner", login_path, class: "btn waves-effect waves-light" %>
				<% end %>
				<!-- Modal Trigger -->
					  <!-- Modal Structure -->
					  <div id="modal1" class="modal modal-fixed-footer">
					    <div class="modal-content">
					      <%= form_for :message, :url => messages_path do |f| %>	
									<%= f.text_field :content %>
									<%= f.hidden_field :user_id, :value => @toy.user_id %> 
									<%= f.submit "Send" %>					
								<% end %>
					    </div>
					  </div>
			</div>
		</div>
	</div>	
</div>
