<nav class="nav-bar">
    <div class="nav-wrapper">
      <%= link_to image_tag("Drawing.png", class: "nav-image"), root_path %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
       	 	<li><%= link_to 'Inbox', chats_path %></li>
       	<% end %>
        	<li><%= link_to 'Toys', toys_path %></li>
        <% if current_user %>
        	<li><%= link_to 'Logout', logout_path %><li>
        <% else %>
       		<li><%= link_to "Log in", "#modal2", :class => "waves-effect waves-light btn modal-trigger" %></li>
       	<% end %>
      </ul>
    </div>
  </nav>


