<div id="modal3" class="modal modal-fixed-footer modalSignUp">
  <div class="modal-content" id="model3Content">
      <div class="row">
        <div class="col m6 s6 offset-m3 offset-s3 center-align">
          <h4>Sign Up</h4>
        </div>
      </div>
      <%= form_for :user, url: '/users', html: { multipart: true } do |f| %>
        <div class="row">
          <div class="col m6 s6">
            <div class="input-field">
              <%= f.text_field :f_name, autofocus: true%>
              <%= f.label :f_name, "First Name" %>
            </div>
          </div>
          <div class="col m6 s6">
             <div class="input-field">
                <%= f.text_field :l_name %>
                <%= f.label :l_name, "Last Name" %>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col m6 s6">
            <div class="input-field">
              <%= f.text_field :email %>
              <%= f.label :email, "Email" %>
            </div>
          </div>
          <div class="col m6 s6">
            <div class="input-field">
              <%= f.password_field :password%>
              <%= f.label :password, "Password" %>
            </div>
          </div>
        </div>  
        </br>
        <% if @toy %>
          <p>bdksjcdks</p>
          <% @toy_id = @toy.id %>
          <% @toy_show = @toy_show %>
          <%= @toy_id %>
          <%= @toy_show %>
          <%= f.hidden_field :toy_show, :value => @toy_show %> 
          <%= f.hidden_field :toy_id, :value => @toy_id %>
        <% end %>
        <div class="input-field">
          <button class="btn waves-effect waves-light toys-button"><%= f.submit "Submit" %></button>
        </div>
      <% end %>
      <%= link_to "/auth/facebook", class:"btn btn-block btn-f" do %><i class="fa fa-facebook-official"></i>&nbsp&nbsp Connect with Facebook<% end %>
  </div>
</div>
 
