<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="well">
	<% if params[:action] == 'new' %>
<h1 class="text-center">Sign Up</h1>
<hr> 
<% else %> 
<h1 class="text-center">Edit Profile</h1>
<hr> 
<% end %> 

	<div class="form-group">
  <%= link_to "/auth/facebook", class:"btn btn-block btn-f" do %><i class="fa fa-facebook-official"></i>&nbsp&nbsp Connect with Facebook<% end %>
	</div>
<% end %>
	<% if params[:action] == "edit" %>
  		<%= link_to "Delete User", user_path(current_user), method: :delete, class: "btn btn-block btn-danger btn-delete-user" %>
<% end %>

<%= form_for :user, url: '/users', html: { multipart: true } do |f| %>
<div class="input-field">
First Name:
    <%= f.text_field :f_name, autofocus: true, placeholder: "First Name" %>
</div>
<div class="input-field">
Last Name:
    <%= f.text_area :l_name, placeholder: "Last Name" %>
</div>
<div class="input-field">
Email:
    <%= f.text_area :email, placeholder: "Email" %>
</div>
<div class="input-field">
Password:
    <%= f.password_field :password%>
</div>
<div class="input-field">
Bio:
    <%= f.text_area :bio, placeholder: "Tell us about yourself" %>
</div>
<div class="input-field">
    <%= f.file_field :avatar %>
</div>
</br>
<div class="input-field">
    <%= f.submit "Submit" %>
</div>
