<div class="row">
  <div class="col s6 offset-s3 z-depth-2">
    <h1>Edit Profile</h1>
    <%= form_for @user do |f| %>
      <div class="input-field">
        <%= f.text_field :f_name, autofocus: true %>
        <%= f.label :f_name, "First Name" %>
      </div>
      <div class="input-field">
        <%= f.text_field :l_name %>
        <%= f.label :l_name, "Last Name" %>
      </div>
      <div class="input-field">
        <%= f.text_field :email %>
        <%= f.label :email, "Email" %>
      </div>
      <div class="input-field">
        <%= f.text_field :bio  %>
        <%= f.label :bio, "Bio" %>
      </div>
      <div class="input-field">
        <p>Avatar: </p>
        <%= f.file_field :avatar %>
      </div>
      </br>
      <div class="input-field">
        <button><%= f.submit "Submit", class: "btn waves-effect waves-light" %></button>
      </div>
      </br>
    <% end %>
  </div>
</div>
