
<h1>Sign Up</h1>
 <div class="row">
 <div class="col s6 offset-s3 z-depth-2">
<%= form_for :user, url: '/users', html: { multipart: true } do |f| %>
<div class="input-field">
    <%= f.text_field :f_name, autofocus: true%>
    <%= f.label :f_name, "First Name" %>
</div>
<div class="input-field">
    <%= f.text_field :l_name %>
    <%= f.label :l_name, "Last Name" %>
</div>
<div class="input-field">
    <%= f.text_field :email %>
    <%= f.label :email, "Email" %>
</div>
<div class="input-field">
    <%= f.password_field :password%>
    <%= f.label :password, "Password" %>
</div>
<div class="input-field">
    <%= f.text_field :bio %>
    <%= f.label :bio, "Tell us about yourself." %>
</div>
    <%= f.file_field :avatar %>
</br>
<div class="input-field">
    <%= f.submit "Submit", class: "btn waves-effect waves-light" %>
</div>
</br>
<% end %>
</div>
</div>