<div class="inbox-container">
<div class="inboxHeader">
	<div class="row">
			<div class="col m4 s4 offset-m4 offset-s4 center-align inboxTitle">
				<h1>Inbox</h1>
			</div> 
		</div>
	</div>
	<br>
	<div class="row"> <!-- beginning of chat and messages row -->
			<div class="col m4 offset-m1 center-align messageCard z-depth-2 blank-card">
			<div class="row">
				<div class="col m12 center-align">
					<%= link_to "Check Messages", chats_path, class: "btn" %>
				</div> 
			</div>
			<% @chats.reverse.each do |chat| %>
				<div class="row chatHeader">
					<div class="col m12 left-align">
						<span class="chatSubject"><%= " RE:" %> <%= link_to "#{(Toy.find(chat.toy_id)).name}", toy_path(Toy.find(chat.toy_id)) %> </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%= link_to "See Messages", "#", class: "seeMore", id: "#{chat.id}" %>
					</div>
				</div>
			<% end %>		
			</div>
			<div class="col m6">
				<% @chats.reverse.each do |chat| %>
					<% messages = chat.messages %>
					<div class="allMessages" id='chat<%= chat.id %>'>
					<% messages.each do |message| %>
						<div class="oneMessage">
							<% message_owner = User.find(message.user_id) %>
							<% if message_owner.id != current_user.id %>
								<p><%= link_to "#{message_owner.f_name} #{message_owner.l_name}:", user_path(message_owner) %>
								<%= "#{message.content}" %></p>
							<% else %>
								<p><%= "you: #{message.content}" %></p>
							<% end %>
						</div>
					<% end %>
					<%= form_for :message, :url => messages_path do |f| %>	
						<div class="input-field">
							<%= f.text_area :content, class: "reply" %>
						</div>
						<%= f.hidden_field :chat_id, :value => chat.id %>
						<div class="input-field center-align">
							<%= f.submit "Reply", class: "btn" %>					
						</div>
					<% end %>
					</div>
				<% end %>
			</div>	
	</div> <!-- end of chat and messages row -->
</div> <!-- end of containter -->




				
				
	
				
					
	






		
	


