<!DOCTYPE html>
<html>
<head>
  <title>ToyShare</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <
</head>
<body class='<%= @homepage ? 'whiteBackground' : ''%>'>

<%= render "partials/nav" %>
<%= render "partials/flash" %>
<%= render "partials/login" %>
<%= render "partials/signup" %>
	<%= yield %>

  <%= javascript_include_tag 'application' %>
  
</body>
</html>
